* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    margin-left: 20px;
}

.right {
    height: 100%;
    margin: 50px;
    border: solid black 2px;
    font-size: 16px;
}

.generalInfo, .eduInfo, .workInfo {
    padding: 20px 0px;
}

.cv {
    margin: 30px;
}
.contactInfo {
    text-align: right;
}

input{
    margin-bottom: 5px;
}

.eduSection, .workSection {
    margin-bottom: 20px;
}

button {
    padding: 4px 12px;
    min-width: 75px;
    border-radius: 12px;
    margin: 5px;
}
